<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Restaurant</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navbar-link" href="/"><img id="top-logo-img" src="https://cdn.shopify.com/s/files/1/0972/6726/t/19/assets/logo.png?7927489112666673891"></a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="container collapsed">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.kitava.com/pages/about" class="navbar-link">About</a></li>
                <li><a href="/items/new" class="navbar-link">New</a></li>
 <!--Learn how to make this scroll down to the menu--> <li><a href="/items" class="navbar-link">Menu</a></li>          
                <li class="navbar-link"><a href="https://www.kitava.com/account/login" class="navbar-link">My Account</a></li>
                <a href="https://www.grubhub.com/restaurant/kitava-formerly-mealmade-2011-mission-st-san-francisco/354238"><button type="button" class="btn btn-default navbar-btn">Order Now!</button></a>
              </ul>
            </div><!-- /.navbar-collapse -->
            </div>
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    
                  