<!DOCTYPE html>
<html>
<head>
    <title>Restaurant</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Restaurant</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="container collapsed">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
              <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.kitava.com/pages/about">About</a></li>
 <!--Learn how to make this scroll down to the menu--> <li><a href="#">Menu</a></li>          
                <li><a href="https://www.kitava.com/account/login">My Account</a></li>
                <a href="https://www.grubhub.com/restaurant/kitava-formerly-mealmade-2011-mission-st-san-francisco/354238"><button type="button" class="btn btn-default navbar-btn">Order Now!</button></a>
              </ul>
            </div><!-- /.navbar-collapse -->
            </div>
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    
                  