.navbar-default{
    margin: 0;
}
.jumbotron {
    text-align: center;
    margin: 0;
}

.collapsed {
    text-align: center;
}

.ordering-sites {
    text-align: center;
    padding: 30px;
}

.menu-title {
    text-align: center;
    padding-top: 0;
}

.jumbotron {
    background: url(https://photos-5.dropbox.com/t/2/AACUR2PO2L9scbpQjrlxW86bG2KjlKY25CErZd4GmSeOKw/12/611940663/jpeg/32x32/1/_/1/2/02_22_2017_Mealmade-039-Edit.jpg/EKKmiKUFGDQgBygH/Y6S4JftJV8hgRSenClsqBvsNUdszsTf8P-bM-Z5hU9I%2CwuyP8CSnRxFIE4kUvtIHNrweuGv3GK1AalVIsdr-KUI?size=1600x1200&size_mode=3) no-repeat center center fixed;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-height: 350px;
    display: flex;
    align-items: center;
}