html, body {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url("fucked4.png"), url("paper.png");    
}

.container {
    width: 93%;
}

/*NAVBAR*/

.collapsed {
    text-align: center;
}

.navbar {
    height: 100%;
    border-radius: 0;
    border: 0;
    
}

.navbar li {
    font-size: 130%;
    padding: 0 3.7px;
    font-weight: 300;
}

#my-account  {
    margin-right: 10px;
}

.view-button {
    margin: 5px 0 5px 0;
}

.navbar-inverse {
    margin: 0;
    background: rgba(0,0,0,0);
}

.nav-container {
    margin-top: 1.4%;
}

.navbar-link {
    color: rgba(255, 255, 255, .8) !important;
    text-shadow: 1px 1px 2px #21978F;
}

.navbar-link:hover {
    color: #21978F !important;
}

.navbar-btn {
    background-color: #95BD70;
    border-color: #95BD70;
    color: white;
    text-shadow: 0px 0px 1px #21978F;
    font-size: 125%;
    margin-top: 5px !important;
}

.navbar-btn:hover {
    background-color: #21978F;
    border-color: #21978F;
    color: white;
}

#top-logo-img {
    height: 150%;
    width: 180px;
    margin:0;
    margin-left: 30%;
    /*-webkit-filter: drop-shadow(1px 1px .7px rgba(255, 255, 255, .5)) drop-shadow(-1px -1px .7px rgba(255, 255, 255, .5));*/
    /*filter: drop-shadow(0 0 .8px rgba(255, 255, 255, 1)) drop-shadow(1px 1px .8px rgba(255, 255, 255, 1));*/
    /*-webkit-filter: drop-shadow(0 0 .3px rgba(255, 255, 255, .8)) ;*/
    filter: drop-shadow(0 0 2px #111) drop-shadow(0 0 3px #111) drop-shadow(0 0 4px #111);
}

 /*MAIN BANNER*/
 
.jumbotron {
    /*Need to optimize background image for speed*/
    /*VVV Need to figure out how to link from images folder correctly using app.js VVV*/
    background: linear-gradient(rgba(10,10,10,1), rgba(0, 0, 0,.8) 10%, rgba(0,0,0,0) 27%, rgba(0,0,0,0) 90%, rgba(10,10,10,1)), url("back4.jpg") no-repeat center center fixed;
    background-size: cover;
    box-shadow: 0px 0px 50px rgb(10,10,10) inset,
                0px 0px 10px rgb(10,10,10) inset;
    color: white;
    text-shadow: 0px 4px 3px rgba(34,34,34,.5),
    		     34px 8px 13px rgba(34,34,34,.7),
    		     34px 8px 23px rgba(34,34,34,1),
    		     1px 2px 2px rgba(34,34,34,.5);
    /*vh probably isn't well supported so needs a change*/
    height: 102%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: -75px;
}

h1 {
    font-family: 'Roboto', sans-serif !important;
}

/*MENU TITLE*/

.menu-title {
    color: black;
    text-align: center;
    padding-top: 0;
}

.menu-title h2 {
    font-size: 4em;
}

.menu-title h5 {
    font-size: 1.5em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
/*DELIVERY LOGOS*/

#uber-eats-logo {
    /*-webkit-filter: drop-shadow(1px 1px .7px rgba(255, 255, 255, .5)) drop-shadow(-1px -1px .7px rgba(255, 255, 255, .5));*/
    /*filter: drop-shadow(0 0 .8px rgba(255, 255, 255, .8)) drop-shadow(1px 1px .8px rgba(255, 255, 255, .8)); */
    margin-top: 14px;
    height: 32px;
}

#doordash-logo {
    margin-top: 12px;
}

 /*BODY ITEMS*/
 
.ordering-sites {
    text-align: center;
    padding: 30px;
}

.item-containers {
    background-color: white;
    border: none;
    border-radius: 3px;
}

.thumbnail {
    /*Removes that little border space around images*/
    padding: 0;
}

.display-item {
    /*box-shadow: 1px 1px 5px grey;*/
    margin-bottom: 5px;
}

.entrees {
    margin-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.caption, .thumbnail {
    background-color: rgba(0,0,0,0);
}

.caption h4 {
    color: black;
    /*text-shadow: 1px 1px 2px black, 1px 1px 1px black;*/
    font-size: 1.7em;
}

/*MODALS*/

.modal-dialog {
    min-width: 80%;
}

.modal-images {
    width: 100%;
}

.modal-body {
    height: 600px;
}


/*THINGS TO DO FOR MOBILE*/

/*Do something like this to raise the banner text*/
/*#banner-text-container {*/
/*    margin-top: -10%;*/
/*}*/

/*Undo this so that you can move the hamburger to the right:*/
/*.navbar-inverse {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/


@media screen and (min-width: 767px){
    
}


@media screen and (max-width: 900px){
    .navbar li {
        padding: 0 2px !important;
    }
    .container {
        width:100%;
    }
    .nav-container {
        width: 100%;
    }
    #top-logo-img {
        margin: 0;
        margin-left: 8%;
    }
}

@media screen and (max-width: 767px){
    .navbar {
        background-color: rgb(20,20,20);
            box-shadow: 0px 0px 5px rgb(20,20,20),
                        0px 0px 10px rgb(20,20,20),
                        0px 0px 15px rgb(20,20,20);
    }
    .nav-container {
        margin: 0;
    }
    #top-logo-img {
        margin: 0;
        height: 130%;
        width: 160px;
    }
}